.container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2.9fr 0.2fr;
    grid-template-rows: 0.1fr 0.8fr 0.4fr 4.3fr 0.3fr;
    grid-auto-columns: 2fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". header header ."
        ". searchArea searchArea ."
        ". allPotlukks results ."
        ". . results .";
}

.header {
    display: grid;
    grid-template-columns: 0.1fr 3.1fr 0.1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". banner ."
        ". . .";
    grid-area: header;
}

.banner {
    grid-area: banner;
}

.searchArea {
    grid-area: searchArea;
}

.allPotlukks {
    grid-area: allPotlukks;
}

.results {
    grid-area: results;
}