table{ 
    margin-left: auto;
    margin-right: auto;
    color:#3D4C53;
    width:85%;
    border: 1px solid #26A69A;
    border-collapse: collapse;
}

  th,td{
    position: sticky;
    top:0;
      margin-left:0%;
      margin-right: auto;
    border: 1px solid #26A69A;
    border-collapse: collapse;
  }
  th,td{
    text-align: center;
      background-color: white;
  }

  .results{
      text-align: center;
      background-image: url(https://i.ebayimg.com/images/g/PUEAAOSwISJe47lE/s-l400.jpg);
  }