.potluckChoices {
    display: flex;
    flex-direction: column;
}

.potluckSelectors {
    max-width: 15em;
    justify-self: flex-start;
}

.allPotlukks{

    background-color: rgba(150, 8, 8, 0.573);;
}