@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

.banner {
    font-family: 'Chango', cursive;
    color: rgb(230, 222, 67); 
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: #34d034aa;
    height: 6em;

    display: flex;
    flex-direction: column;
}

.banner .image {
    
    flex-grow: 2;
}

.login {
  
    margin: .8em;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.clickable {
    cursor: pointer;
    border: 1px solid rgba(255, 0, 0, .2);
    background-color: rgba(187, 228, 187, 0.99);
    margin-left: .3em;
    margin-right: .3em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    display: inline-block;
}

.image{

    background-image: url(https://i.ebayimg.com/images/g/PUEAAOSwISJe47lE/s-l400.jpg);
}

.container{

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRujKpGtMOQDpEmmndHiqLgA9N4V8lJ10JiBA&usqp=CAU);
}